<tr class="<%= cycle('odd', 'even') %>">
  <td><%= poll.question %>?</td>
  <td><%= link_to l(:poll_yes), { action: 'vote', id: poll[:id], answer: 'yes', project_id: @project }, method: :post, class: 'vote yes' %> <%= poll.yes %></td>
  <td><%= link_to l(:poll_no), { action: 'vote', id: poll[:id], answer: 'no', project_id: @project }, method: :post, class: 'vote no' %> <%= poll.no %></td>
</tr>
