<p>Здесь вызывается хук</p>
<p>шаблон находится по адресу plugins/polls/app/view/polls/_project_overview.html.erb</p>
<p>Вы можете отобразить например число опросов. На данный момент число опросов - <%= Poll.count %></p>

