<% html_title "Polls" %>

<h2><%= l(:polls) %></h2>

<table class="list" style="width:60%">
  <thead>
  <tr>
    <th>
      <%= l(:questions) %>
    </th>
    <th>
      <%= l(:poll_yes) %>
    </th>
    <th>
      <%= l(:poll_no) %>
    </th>
  </tr>
  </thead>
  <tbody>
    <%= render @polls %>
  </tbody>
</table>

<%= link_to l(:poll_new), { action: 'new', project_id: @project } %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'voting', plugin: 'polls' %>
<% end %>
