<h2><%= l(:poll_form)  %></h2>

<%= form_with model: @poll do |form| %>
  <%= form.text_area :question, size: "60x10", :maxlength => 255, :required => true %>
  <%= form.hidden_field :project_id, name: 'project_id', value: @project.identifier %><br>
  <%= form.submit l(:poll_create) %>
<% end %>
